@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    background: #ffffff;
    color: #6C727F;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    display: flex;
    font-size: 0.875rem;
    justify-content: space-between;
    flex-direction: column;
}
h3{
    color: #20293A;
    font-size: 1.125rem;
    margin: 0px 0px 6px 0px;
}
P{
    margin: 0px 0px 20px 0px;
}
sub{
    font-size: 0.75rem;
    margin: 0px 0px 4px 0px;
}
button{
    border-radius: 50PX;
    border: none;
    font-size: 0.625rem;
    font-weight: 600;
    padding: 6px 16px 6px 16px;
    background-color: #E6D6FC;
    color: #883AE1;
    display: block;
    margin:0px 0px 16px 0px;
}
.card{
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.164);
    margin:auto;
    background-color: #FAFAF9;
    padding:16px;
    max-width: min-content;
    border-radius: 10px;
    box-sizing: border-box;
}
hr{
    position: relative;
    left: -16px;
    background-color: #E5EAF0;;
    BORDER:NONE;
    height: 1px;
    width: 110%;
    margin: 0PX 0PX 20PX 0PX;
    padding: 0;
}
img{
    margin-bottom: 16px;
    max-width: 336px;
    max-height: 152px;
    border-radius: 10px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
